<form class="form" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
        <div class="row " id="outer">
            <div id="inner" class="col-lg-12">
                <nb-card>
                    <nb-card-header>Customer Information
                        <span (click)="enableEdit()" *ngIf="editable" class="updateIcon">
                            <i class="text-warning nb-edit"></i>
                        </span>
                        <span (click)="disableEdit()" *ngIf="!editable&&showTimeline" class="updateIcon">
                            <i class="nb-close"></i>
                        </span>
                    </nb-card-header>
                    <nb-card-body>
                        <div *ngIf="!id">
                            <div class="row" *ngIf="this.user.role.id == 1 || this.user.role.id == 6 ">
                                <div class="form-group form-inline col-lg-2">
                                    <label class=" m-1 p-1">
                                        <input type="radio" class="m-1" [formControl]="form.controls['rbRole']" value="0"
                                            (change)="rbchange()" name="cbRole">As Dealer
                                    </label>
                                    <label class=" m-1 p-1">
                                        <input type="radio" class=" m-1" [formControl]="form.controls['rbRole']" value="1"
                                            (change)="rbchange()" name="cbRole">As Company
                                    </label>
                                </div>
                                <div class=" form-group col-lg-6" *ngIf="(this.user.role.id == 1 || this.user.role.id == 6) && this.form.value.rbRole == 0">

                                    <label>Create Customer as dealer </label>
                                    <select [(ngModel)]="selectedDealer" class="form-control" [formControl]="form.controls['dealer']">
                                        <option *ngFor="let r of dealerList" [ngValue]="r">{{r.first_name}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="customer" *ngIf="this.user.role.id == 2 || selectedDealer != null || form.value.rbRole == 1">
                            <div class="row">
                                <div class="col-sm-6  form-group">
                                    <label>First Name</label>
                                    <input type="text" id="normal-field" placeholder="First Name" class="form-control"
                                        [formControl]="form.controls['firstName']" [ngClass]="{'form-control-danger': form.controls['firstName'].hasError('required') && form.controls['firstName'].touched}" />
                                    <div class="m-1" *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched">First
                                        Name is required.</div>
                                </div>
                                <div class="col-sm-6  form-group">
                                    <label>Last Name</label>
                                    <input type="text" placeholder="Last Name" class="form-control" [formControl]="form.controls['lastName']"
                                        [ngClass]="{'form-control-danger': form.controls['lastName'].hasError('required') && form.controls['lastName'].touched}" />
                                    <div class="m-1" *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched">Last
                                        Name is required.</div>
                                </div>
                            </div>
                            <div class=" form-group">
                                <label>Email</label>
                                <input type="email" placeholder="Email" class="form-control" [formControl]="form.controls['email']"
                                    [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}">
                                <div class="m-1" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">email
                                    is required.</div>
                                <div class="m-1" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">email
                                    is invalid</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class=" form-group">
                                        <label> Connection Password</label>
                                        <input [(ngModel)]="password" type="number" placeholder="Password" class="form-control"
                                            [(formControl)]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
                                        <div class="m-1" *ngIf="form.controls['password'].hasError('required')  && form.controls['password'].touched">password
                                            is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" (click)="generatePassword()" class="btn btn-primary btn-md verification-btns">
                                        Generate
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <div class=" form-group float-left">
                                        <label>CNIC</label>
                                        <input #cnic id="cnicInput" value="" type="text" placeholder="XXXXX-XXXXXXXX-X"
                                            mask="00000-0000000-0" class="form-control" [formControl]="form.controls['cnicNo']"
                                            [ngClass]="{'form-control-danger': form.controls['cnicNo'].hasError('required')  && form.controls['cnicNo'].touched}" />
                                        <div class="m-1" *ngIf="form.controls['cnicNo'].hasError('required') && form.controls['cnicNo'].touched">CNIC
                                            is required</div>
                                        <div class="m-1" *ngIf="form.controls['cnicNo'].hasError('maxlength')">CNIC
                                            must be
                                            13
                                            digits with 2 dashes.</div>
                                        <div class="m-1" *ngIf="form.controls['cnicNo'].hasError('minlength')">CNIC
                                            must be
                                            13
                                            digits with 2 dashes.</div>
                                        <div class="m-1" *ngIf="form.controls['cnicNo'].hasError('pattern')">CNIC must
                                            be
                                            in
                                            format i.e 12345-1234567-1.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label">Mobile Number</label>
                                        <input (keypress)="controlVerifyNo()" type="text"
                                            placeholder="XXXX-XXXXXXX" mask="0000-0000000" class="form-control" pattern="[0][3][01234][0123456789][0-9]{7}"
                                            [formControl]="form.controls['mobileNo']" [ngClass]="{'form-control-danger': form.controls['mobileNo'].hasError('required') && form.controls['mobileNo'].touched}">
                                        <div class="m-1" *ngIf="form.controls['mobileNo'].hasError('required') && form.controls['mobileNo'].touched">Mobile
                                            Number is required.</div>
                                        <div class="m-1" *ngIf="form.controls['mobileNo'].hasError('maxlength') ">Mobile
                                            Number
                                            must be 11 digits.</div>
                                        <div class="m-1" *ngIf="form.controls['mobileNo'].hasError('minlength') ">Mobile
                                            Number
                                            must be 11 digits.</div>
                                        <div class="m-1" *ngIf="form.controls['mobileNo'].hasError('pattern') ">Mobile
                                            Number
                                            is Wrong.</div>
                                    </div>
                                </div>
                                <div class="loader" *ngIf="loader">

                                </div>
                                <div class="col-lg-3 mt-4" [hidden]= "!numberVerified">
                                    <i class="text-success fa fa-check" aria-hidden="true"></i>
                                    <!-- <div class="text-success form-group text-center font-weight-bold p-3">Verified</div> -->
                                </div>
                                <div class="col-lg-2 " [hidden]="numberVerified" *ngIf="!loader">
                                    <div class="form-group">
                                        <button type="button" (click)="verifyMobileNo()" [disabled]="!form.valid" class="btn btn-primary btn-md verification-btns">Verify</button>
                                    </div>
                                </div>
                                <div [hidden]="numberVerified" class="col-lg-3" *ngIf="!loader">
                                    <div class="form-group">
                                        <label>Verification Code</label>
                                        <input [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="verifyCode()" type="text" placeholder="XXXXX" mask="00000"
                                            class="form-control" pattern="[0-9]{4}">
                                    </div>
                                </div>
                                <div class="col-lg-3" [hidden]="numberVerified" *ngIf="this.user.role.id == 1 || this.user.role.id == 6">
                                    <button type="button" [disabled]="!form.valid" (click)="verifyManually()" class="btn btn-primary btn-md verification-btns">
                                        Verify Manually
                                    </button>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-inline verification-btns">
                                        <img src="{{cnicFront}}" *ngIf="cnicFront" class="cnic img-rounded img-responsive"
                                            alt="CNIC Front">
                                        <label class="btn btn-primary m-1">
                                            Browse
                                            <input type="file" [disabled]="editable" (change)="uploadCnicFront($event)"
                                                accept="image/* " hidden>
                                        </label>
                                        <label [hidden]="cnicFrontPic">&nbsp;&nbsp; CNIC Front &nbsp;&nbsp;</label>
                                        <label class="m-1" *ngIf="cnicFrontPic?.name">&nbsp;&nbsp;CNIC Front Added</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-inline verification-btns">
                                        <img src="{{cnicBack}}" *ngIf="cnicBack" class="cnic img-rounded img-responsive"
                                            alt="CNIC back">
                                        <label class="btn btn-primary m-1">
                                            Browse
                                            <input type="file" [disabled]="editable" (change)="uploadCnicBack($event)"
                                                accept="image/*" hidden>
                                        </label>
                                        <label [hidden]="cnicBackPic">&nbsp;&nbsp; CNIC Back&nbsp;&nbsp; </label>
                                        <label class="m-1" *ngIf="cnicBackPic?.name">&nbsp;&nbsp;CNIC Back Added</label>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right">
                                <button *ngIf="!showTimeline" type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md">
                                    Save</button>
                                <button *ngIf="showTimeline" type="submit" [disabled]="!disableUpdate && !form.valid"
                                    class="btn btn-primary btn-md">
                                    Update
                                </button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </fieldset>
</form>