<form class="form" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
      <div class="row mr-1" id="outer">

          <div class="col-lg-12" *ngIf="rejectReason">
              <h5 class="text-danger text-center">Form Rejection Reason : {{rejectReason}}</h5>
          </div>
      </div>
    <div class="row " id="outer">
       
      <div id="inner" class="col-lg-6">
        <nb-card>
          <nb-card-header>Customer Information </nb-card-header>
          <nb-card-body>

            <div class="form-group" >
              <label class="mr-3" >Customer</label>
              <custom-search  [title]="'Search Customer by username'" (change)="customerFieldChange()" [dataToSearch]="searchAbleArray"
                (onSelection)='afterSelectingRecord($event)'></custom-search>
            </div>
            <div *ngIf="selectedRecord" class="customerDetails">
              <div class="row">
                <div class="col-sm-6  form-group">
                  <label>First Name</label>
                  <input readonly type="text" [disabled]="true" id="normal-field" placeholder="First Name" class="form-control" [formControl]="form.controls['first_name']"
                    [ngClass]="{'form-control-danger': form.controls['first_name'].hasError('required') && form.controls['first_name'].touched}"
                  />
                </div>
                <div class="col-sm-6  form-group">
                  <label>Last Name</label>
                  <input readonly type="text" [disabled]="true" placeholder="Last Name" class="form-control" [formControl]="form.controls['last_name']"
                    [ngClass]="{'form-control-danger': form.controls['last_name'].hasError('required') && form.controls['last_name'].touched}"
                  />
                </div>
              </div>
              <div class=" form-group">
                <label>Email</label>
                <input readonly type="email" [disabled]="true" placeholder="Email" class="form-control" [formControl]="form.controls['email']"
                  [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}">
              </div>
              <div class=" form-group">
                <label>CNIC</label>
                <input readonly type="text" [disabled]="true" placeholder="CNIC Number" class="form-control" [formControl]="form.controls['cnic']"
                  [ngClass]="{'form-control-danger': form.controls['cnic'].hasError('required')  && form.controls['cnic'].touched}"
                />
              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input readonly type="text" [disabled]="true" placeholder="Mobile Number" class="form-control" [formControl]="form.controls['mobile']"
                  [ngClass]="{'form-control-danger': form.controls['mobile'].hasError('required') && form.controls['mobile'].touched}">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card *ngIf="docPic && selectedRecord">
          <nb-card-header>Document Picture</nb-card-header>
          <nb-card-body>
            <img src="{{docPic}}" *ngIf="docPic" class="doc img-rounded img-responsive" alt="Document">
          </nb-card-body>
        </nb-card>

      </div>
      <div class="col-lg-6">
        <nb-card *ngIf="selectedRecord?.customer_verified && selectedRecord?.password && selectedRecord?.username && selectedRecord?.last_name"
          [hidden]="!selectedRecord">
          <nb-card-header>Connection Info
            <span (click)="enableEdit()" *ngIf="editable" class="updateIcon">
              <i class="nb-edit"></i>
            </span>
            <span (click)="disableEdit()" *ngIf="!editable&&dataLoaded" class="updateIcon">
              <i class="nb-close"></i>
            </span>
          </nb-card-header>
          <nb-card-body>
            <div class="form-group">
              <label>Username</label>
              <input disabled type="text" placeholder="Username" class="form-control" [formControl]="form.controls['username']" [ngClass]="{'form-control-danger': form.controls['username'].hasError('required')  && form.controls['username'].touched}"
              />
              <div class="m-1" *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched">username
                is required.</div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="text" disabled placeholder="Password" class="form-control" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': !btnSave &&form.controls['password'].hasError('required')  && form.controls['password'].touched}"
              />
              <div class="m-1" *ngIf="!btnSave &&form.controls['password'].hasError('required') && form.controls['password'].touched">password
                is required.</div>
            </div>
            <div class="form-group ">
              <div><label>Packages</label></div>
              <div class="form-inline" style="width: 100%; align-items: start;">
                <select class="form-control"  style="width: 97%" [(ngModel)]="selectedPackage" [formControl]="form.controls['packages']" (change)="packageChange($event)"
                  [ngClass]="{'form-control-danger': form.controls['packages'].hasError('required') && form.controls['packages'].touched}">
                  <option *ngFor="let package of packagesList" [ngValue]="package">{{package.packages?.package_name}}</option>
                </select>
                <span class="m-1">*</span>
              </div>
              <div class="m-1" *ngIf="form.controls['packages'].hasError('required') && form.controls['packages'].touched">package
                is required.</div>
            </div>
            <div class=" form-group">
              <div><label>Packages Price</label></div>
              <div class="form-inline" style="width: 100%; align-items: start;">
              <input type="number" style="width: 97%" placeholder="Packages Price" [formControl]="form.controls['connection_price']" [ngClass]="{'form-control-danger': form.controls['connection_price'].hasError('required') && form.controls['connection_price'].touched}"
                class="form-control" />
                <span class="m-1">*</span>
              </div>
              <div class="m-1" *ngIf="form.controls['connection_price'].hasError('required') && form.controls['connection_price'].touched">Packages
                Price is required.</div>
            </div>
            <div class=" form-group" *ngIf="user.role.id != 2">
              <label>Is Wireless</label>
              <select class="form-control" [formControl]="form.controls['is_wireless']">
                <option value="1">Yes</option>
                <option value="0" [selected]="true">No</option>
              </select>
            </div>
            <div class="form-group" *ngIf="user.role.id != 2">
              <label>Latitude</label>
              <input type="text" placeholder="lat" class="form-control" [formControl]="form.controls['lat']" />
            </div>
            <div class=" form-group" *ngIf="user.role.id != 2">
              <label>Longitude</label>
              <input type="text" placeholder="long" class="form-control" [formControl]="form.controls['long']" />
            </div>
            <div class="form-group">
              <label>Router of</label>
              <select class="form-control" [formControl]="form.controls['router_of']">
                <option value="0">Customer</option>
                <option value="1" [selected]="true">Company</option>
                <option value="2">Dealer</option>
              </select>
            </div>
            <div class="form-group">
              <label>Router Brand</label>
              <input type="text" placeholder="Router Brand" [formControl]="form.controls['router_brand']" class="form-control" />
            </div>
            <div class="  form-group">
              <label>Router Model</label>
              <input type="text" placeholder="Router Model" [formControl]="form.controls['router_model']" class="form-control" />

            </div>
            <div class="form-group">
              <label>Router Price</label>
              <input type="number" placeholder="Router Price" [formControl]="form.controls['router_price']" class="form-control" />
            </div>
            <div class=" form-group">
              <label>DropWire of</label>
              <select class="form-control" [formControl]="form.controls['drop_wire_of']">
                <option value="0">Customer</option>
                <option value="1" [selected]="true">Company</option>
                <option value="2">Dealer</option>
              </select>
            </div>
            <div class=" form-group">
              <label>DropWire Meter</label>
              <input type="number" placeholder="DropWire Meter" [formControl]="form.controls['drop_wire_length']" class="form-control"
              />
            </div>
            <div class=" form-group" *ngIf="form.value.drop_wire_of != 'Customer'">
              <label>DropWire Price/Meter</label>
              <input type="number" placeholder="DropWire Price /Meter" [formControl]="form.controls['price_per_meter']" class="form-control"
              />
            </div>

            <div class="form-group">
              <label>Attach Signed Document</label>
              <div class="form-control">
                <label class="btn btn-primary ">
                  Browse
                  <input type="file" (change)="uploadSignedDoc($event)" accept="image/*" hidden>
                </label>
                <label [hidden]="signedDoc">&nbsp;&nbsp; Signed Document &nbsp;&nbsp; </label>
                <label class="m-1" *ngIf="signedDoc?.name">&nbsp;&nbsp;Signed Document Added</label>
              </div>
            </div>
            <div class=" form-group">
              <label>Connection Address</label>
              <textarea rows="4" placeholder="Connection Address" class="form-control" [formControl]="form.controls['address']" [ngClass]="{'form-control-danger': form.controls['address'].hasError('required') && form.controls['address'].touched}"></textarea>
              <div class="m-1" *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched">address
                is required.</div>
            </div>
          </nb-card-body>
        </nb-card>
        <div class="float-right">
          <button *ngIf="selectedRecord?.cnic && selectedRecord?.customer_verified && selectedRecord?.password && selectedRecord?.username && !id"
            [hidden]="!selectedRecord" type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md">Save</button>
            <button *ngIf="selectedPackage && selectedRecord?.cnic && selectedRecord?.customer_verified && selectedRecord?.password && selectedRecord?.username && id"
            [hidden]="!selectedRecord" type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md">Update</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>