<div style="height: 100%; box-sizing: border-box;">

  <ag-grid-angular #agGrid style="width: 100%; height: 90%;" id="myGrid" [rowData]="rowData" class="ag-theme-blue" [columnDefs]="columnDefs"
    [rowData]="rowData" [components]="components" [treeData]="true" [animateRows]="true" [enableFilter]="true" [enableSorting]="true"
    [enableColResize]="true" [groupDefaultExpanded]="groupDefaultExpanded" [getDataPath]="getDataPath" [getRowNodeId]="getRowNodeId"
    [autoGroupColumnDef]="autoGroupColumnDef" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)"></ag-grid-angular>
  <div class="m-2" style="position: relative; top: 0px; left: 0px;">
    <button [disabled]="!parentSelected" class="btn btn-primary m-2" style="float: right;" (click)="addNewGroup()">New</button>
    <button [disabled]="!parentSelected" class="btn btn-primary m-2" style="float: right;" (click)="viewLedger()">Ledger</button>
  </div>
</div>