<form class="form" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="row " id="outer">
      <div id="inner" class="col-lg-6">
        <nb-card>
          <nb-card-header>Add Base Station</nb-card-header>
          <nb-card-body>
            <div class=" form-group ">
              <input type="text" placeholder="Name" class="form-control" [formControl]="form.controls['name']" [ngClass]="{'form-control-danger': form.controls['name'].hasError('required')  && form.controls['name'].touched}"
              />
              <div class="m-1" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">Name is required</div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="lat" class="form-control" [formControl]="form.controls['lat']" [ngClass]="{'form-control-danger': form.controls['lat'].hasError('required') && form.controls['lat'].touched}">
              <div class="m-1" *ngIf="form.controls['lat'].hasError('required') && form.controls['lat'].touched">lat is required.</div>
            </div>
            <div class=" form-group">
              <input type="text" placeholder="long" class="form-control" [formControl]="form.controls['long']" [ngClass]="{'form-control-danger': form.controls['long'].hasError('required') && form.controls['long'].touched}">
              <div class="m-1" *ngIf="form.controls['long'].hasError('required') && form.controls['long'].touched">long is required.</div>
            </div>
            <div class=" form-group">
              <input type="number" placeholder="Band Width" class="form-control" [formControl]="form.controls['bandwidth']" [ngClass]="{'form-control-danger': form.controls['bandwidth'].hasError('required') && form.controls['bandwidth'].touched}">
              <div class="m-1" *ngIf="form.controls['bandwidth'].hasError('required') && form.controls['bandwidth'].touched">bandwidth is required.</div>
            </div>
            <div class=" form-group">
              <input type="number" placeholder="Max User" class="form-control" [formControl]="form.controls['maxusers']" [ngClass]="{'form-control-danger': form.controls['maxusers'].hasError('required') && form.controls['maxusers'].touched}">
              <div class="m-1" *ngIf="form.controls['maxusers'].hasError('required') && form.controls['maxusers'].touched">Maxusers is required.</div>
            </div>
            <div class=" form-group">
              <input type="text" placeholder="Address" class="form-control" [formControl]="form.controls['address']" [ngClass]="{'form-control-danger': form.controls['address'].hasError('required') && form.controls['address'].touched}">
              <div class="m-1" *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched">Maxusers is required.</div>
            </div>
            <div class="float-right">
              <button type="submit" [disabled]="!form.valid && btnSave" class="btn btn-primary btn-md">Save</button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </fieldset>
</form>